In [9]:
import pandas as pd 

df = pd.read_csv('../data/raw_data/jd_chunked_data.csv')

In [10]:
df.head()

,Unnamed: 0,Sentence description,Sentence label
0,0,our offerings of products have grown to includ...,"['electric vehicle', 'solar panels']"
1,1,as a 100 employee owned company and a certifie...,['fossil fuels']
2,2,there is also an opportunity to help develop a...,['renewable energy']
3,3,role and responsibilities include but not limi...,['energy technologies']
4,4,record all customer interactions and schedule ...,"['solar design', 'customer service']"

In [13]:
import json 

def convert_df_json(df, output_path, append=False):
    mode = 'a+' if append else 'w'
    record_list = []
    with open(output_path, mode, encoding="utf-8") as file_out:
        for description in df['Sentence description']:
            json_record = json.dumps({"text": description,})
            file_out.write(json_record + "\n")

output_path = '../data/jd_data.jsonl'

In [14]:
convert_df_json(df, output_path)